p {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: 'Nunito', sans-serif;
  max-width: 60ch;
  margin-inline: auto;
  padding-bottom: 35rem;
}

h1 {
  font-size: 8ch;
}

p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.love {
  margin-top: 10rem;
  font-size: 8ch;
  text-align: center;
}

